<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" type="image/png" href="/images/weather.png">
        <meta name="viewport" content="width=device-width, initial scale=1.0">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        This Weather App is developed with HTML, CSS, JavaScript, Node.js, DarkSky API and Mapbox API.
        <br><br>
        This App lets us know current weather condition of  place. It is easy to use. Just fill in your location and hit the search button and the weather report is right in front of you.
        <br><br>
        Hope you have a Great Experience !<br><br>
        <center><img src="/images/Owner.jpg" id='Owner'><br><br>
        Developed by Yashika Aggarwal<br>(Student at Netaji Subhas University of Technology, New Delhi)</center>
        </div>
        {{>footer}}
    </body>
</html>
