<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/images/weather.png">
        <meta name="viewport" content="width=device-width, initial scale=1.0">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>
            This is a Weather App. 
            Results shown are the most relevant as per the given details. 
            Try to be more specific in case of an unexpected result.
            The weather data gives the current weather conditions with maybe minor variations.<br><br>
            Hope you have a Great Experience !
        </p>
        </div>
        {{>footer}}
    </body>
</html>
